
# general modules
django > 4.2, <4.3
djangorestframework
djangorestframework-simplejwt
python-decouple
Pillow

# third party modules
markdown
django-filter
drf-yasg[validation]
coreapi
django-mail-templated
djoser
# deployement


# reformatting
black
flake8

# testing
pytest
pytest-django

#generating fake datas
faker

#CORS Policy
django-cors-headers


# Load Testing
locust



# Pin gevent/greenlet and Cython to avoid source build issues on Python 3.8 (arm64)
gevent==23.9.1
greenlet==3.0.3
Cython<3
